h2 {
    background-image: url('https://wallpaperaccess.com/full/2384073.jpg');
    background-repeat: no-repeat;
    margin-left: 12%;
    margin-right: 12%;
    background-size: cover;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 80%;
    color: white;

}