.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.nav-links a {
    margin-right: 15px;
    padding: 2px 5px;
}

.nav-links a:hover {
    color: crimson;
    text-decoration: underline;
}

.logo:hover {
    color: black;
    text-decoration: none;
}

.logo1:hover {
    color: black;
    text-decoration: none;
}

.logo2:hover {
    color: black;
    text-decoration: none;
}