.quizbutton {
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(254, 62, 62);
    color: white;
    border-radius: 5px;
}

.quizbutton:hover {
    padding: 4px;

    background-color: rgb(254, 62, 62);
    color: black;
    border-radius: 5px;
}